<h1>プロフィール</h1>

<table class="table mt-5">
  <tbody>
    <tr>
      <th>名前</th>
      <td><%= current_user.name %></td>
    </tr>
    <tr>
      <th>一言</th>
      <td><%= current_user.word %></td>
    </tr>
    <tr>
      <th>ライン</th>
      <td><%= current_user.url %></td>
    </tr>
  </tbody>
</table>


<%= link_to "編集する", edit_profile_path%>
<h3 class="mt-5">アカウント削除</h3>
<%= link_to "delete account", profile_path, method: :delete, data: { confirm: "アカウント削除します。よろしいですか？" } %>
