<h2><%= @post.title %></h2>

<table class="table mt-5">
  <tbody>
    <tr>
      <th>投稿者</th>
      <td><%= @post.user.name %></td>
    </tr>
    <tr>
      <th>詳細</th>
      <td><%= simple_format(h(@post.description), {}, sanitize: false, wrapper_tag: "div") %></td>
    </tr>
    <tr>
      <th>更新日</th>
      <td><%= @post.updated_at %></td>
    </tr>
  </tbody>
</table>

<h5 class="mt-5">コメント一覧</h5>
<% @comments.each do |comment| %>
  <%= comment.content %>
  <br>
<% end %>


<%= bootstrap_form_with(model:[@post, @comment], local: true) do |f| %>
  <%= f.text_field :content %>
  <br>
  <%= f.submit '送信' %>
<% end %>
