<!DOCTYPE html>
<html>
  <head>
    <title>Lookfor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style>
      body {
        background-image: url("/images/coffee.png");
        background-size: cover;
        height: 600px;
      }

      .top-main {
        text-align: center;
      }
    </style>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |name, msg| %>
        <div class="alert alert-<%= name %>">
        <%= msg.html_safe %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
